<launch>
  <!-- Debug Info -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <include file="$(find motoman_sia20d_with_gripper_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world base_footprint 100" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="true"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <include file="$(find motoman_sia20d_with_gripper_moveit)/launch/moveit_rviz.launch">
  </include>

<node name="pick_place" pkg="motoman_sia20d_with_gripper_moveit" type="pick_place" respawn="false" launch-prefix="" output="screen">
    <param name="allowed_planning_time" value="3" />
    <param name="max_Iter" value = "50" />
    <param name="shortcut" value="Adaptive" />
    <param name="numShortcutLoops" value="100" />
    <param name="max_EdgeLength_Discretization" value="0.1" />
    <param name="max_EdgeLength_Waypoint_Injection" value="0.2" />
    <param name="sbp_plugin" value="ompl_interface/OMPLPlanner"/>
    <param name="environment" value="clutter" />
    <param name="adaptive_repetitions" value="5" />
    <rosparam command="load" file="$(find motoman_sia20d_with_gripper_moveit)/config/kinematics.yaml"/>
    <rosparam command="load" file="$(find motoman_sia20d_with_gripper_moveit)/config/ompl_planning.yaml"/>
  </node>

</launch>

